<h1>Admin Dashboard </h1>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-md-6 text-center"> Categories </th>
          <th class="col-md-6 text-center"> Products in Inventory </th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" class="text-center">
          <td>
            <%= @categories %>
          </td>
          <td>
            <%= @products %>
          </td>
        </tr>
      </tbody>
    </table>