









<div class="span6">
<%= form_for :user, url: '/users' do |f| %>
  <div class="area">
    <form class="form-horizontal">
      <div class="heading">
        <h4 class="form-heading">Sign Up</h4>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputFirst">First
          Name </label>
          
        <div class="controls">
          <input id="inputFirst" placeholder=
                                "E.g. Ashwin" type="text">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputLast">Last
          Name</label>
        <div class="controls">
          <input id="inputLast" placeholder="E.g. Hegde"
                                type="text">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for=
                            "inputEmail">Email</label>
        <div class="controls">
          <input id="inputEmail" placeholder=
                                "E.g. ashwinh@cybage.com" type="text">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for=
                            "inputUser">Password</label>
        <div class="controls">
          <input id="inputUser" placeholder=
                                "E.g. ashwinhegde" type="text">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for=
                            "inputPassword">Password Confirmation</label>
        <div class="controls">
          <input id="inputPassword" placeholder=
                                "Min. 8 Characters" type="password">
        </div>
  <%= f.submit "Sign up", class: 'btn btn-primary' %>
      </div>
    </form>
  </div>
</div>
  <% end %>
